#user-area {
    padding-top: var(--header-height);
    display: flex;
}

#user-area #user-menu {
    background-color: #7a83d0;
}

#user-area .user-tela {
    background-color: #fdfdfd;
    width: calc(100% - 230px);
    margin-left: 230px;
    padding: 30px;
}